In [1]:
import pandas as pd
people = pd.DataFrame({
        '年齢' : [21, 34, 23, 44, 19],
        '身長' : [180, 168, 174, 181, 169],
        '体重' : [74, 61, 65, 82, 70]
        },
        index = ['田中', '北野', '高橋', '岡田', '長谷川'])
people

     年齢   身長  体重
田中   21  180  74
北野   34  168  61
高橋   23  174  65
岡田   44  181  82
長谷川  19  169  70

In [2]:
people.loc['北野']
# 下の書き方でも同じ結果が得られる
# people.iloc[1]

年齢     34
身長    168
体重     61
Name: 北野, dtype: int64

In [3]:
people.loc['高橋', ['年齢', '体重']]
# 下の書き方でも同じ結果が得られる
# people.iloc[2, [0, 2]]

年齢    23
体重    65
Name: 高橋, dtype: int64

In [4]:
people.loc['高橋':'長谷川']
# 下の書き方でも同じ結果が得られる
# people.iloc[2:5]

     年齢   身長  体重
高橋   23  174  65
岡田   44  181  82
長谷川  19  169  70