In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
import pandas as pd
people = pd.DataFrame({
        '年齢' : [21, 34, 23, 44, 19],
        '身長' : [180, 168, 174, 181, 169],
        '体重' : [74, 61, 65, 82, 70]
        },
        index = ['田中', '北野', '高橋', '岡田', '長谷川'])
people

NameError: name 'pd' is not defined

In [73]:
people.loc['北野']

年齢     34
身長    168
体重     61
Name: 北野, dtype: int64

In [72]:
people.iloc[1]

年齢     34
身長    168
体重     61
Name: 北野, dtype: int64

In [74]:
people.loc['高橋':'長谷川']

     年齢   身長  体重
高橋   23  174  65
岡田   44  181  82
長谷川  19  169  70

In [76]:
people.iloc[2:5]

     年齢   身長  体重
高橋   23  174  65
岡田   44  181  82
長谷川  19  169  70

In [64]:
people.loc[:'高橋']

    年齢   身長  体重
田中  21  180  74
北野  34  168  61
高橋  23  174  65

In [65]:
people.iloc[:3]

    年齢   身長  体重
田中  21  180  74
北野  34  168  61
高橋  23  174  65

In [67]:
people.loc['高橋', ['年齢', '体重']]

年齢    23
体重    65
Name: 高橋, dtype: int64

In [68]:
people.iloc[2, [0, 2]]

年齢    23
体重    65
Name: 高橋, dtype: int64

In [69]:
people.index

Index(['田中', '北野', '高橋', '岡田', '長谷川'], dtype='object')

In [70]:
people['年齢']

田中     21
北野     34
高橋     23
岡田     44
長谷川    19
Name: 年齢, dtype: int64

In [51]:
people.年齢

tanaka       21
kitano       34
takahashi    23
okada        44
hasegawa     19
Name: 年齢, dtype: int64

In [52]:
people = pd.DataFrame({
        '名前' : ['北野', '田中'],
        '年齢' : [22, 28]
        })

   名前  年齢
0  北野  22
1  田中  28

In [53]:
people.年齢

0    22
1    28
Name: 年齢, dtype: int64

In [54]:
people['年齢']

0    22
1    28
Name: 年齢, dtype: int64