In [1]:
import pandas as pd

In [2]:
name_series = pd.Series(['田中', '北野'])
name_series

0    田中
1    北野
dtype: object

In [3]:
people = pd.DataFrame({
    '名前' : name_series,
    '年齢' : [22, 28]})
people

   名前  年齢
0  田中  22
1  北野  28

In [4]:
people['年齢']
# 下の書き方でも同じ結果が得られる
# people.年齢

0    22
1    28
Name: 年齢, dtype: int64

In [5]:
name_series = pd.Series(['田中', '北野'], index = [10, 20])
name_series

10    田中
20    北野
dtype: object